{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static '/css/signup.css' %}">

<div class="page-container">

            <form method="POST">
              {% csrf_token %}
              {% bootstrap_form form %}
              <input class="btn btn-primary" type="submit" name="" value="submit">
            </form>
</div>

{% endblock %}
}
