{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to My Website</h1>
    <h2>You can now create Channel and Podcasts</h2>
    <a class="btn btn-primary" href="{% url 'homepage'%}">Goto HomePage</a>
    <!-- <input  class="btn btn-primary" type="button" value="Goto HomePage"> -->
  </div>

</div>

{% endblock %}
